<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140447045718-6i6e7jjtmn9e0l5quispua849988fhkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140447045718-6i6e7jjtmn9e0l5quispua849988fhkv</string>
	<key>API_KEY</key>
	<string>AIzaSyDudA7-40tBNXCF0lwZiRmtjyKNo4uNRes</string>
	<key>GCM_SENDER_ID</key>
	<string>140447045718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myGames</string>
	<key>PROJECT_ID</key>
	<string>my-app-games</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140447045718:ios:4e96e192af786d2eab43f7</string>
</dict>
</plist>